[Unit]
Description=Heatline Raspberry Pi FastAPI Backend
After=network.target

[Service]
WorkingDirectory=/home/pi/heatline-pi-fastapi
EnvironmentFile=/home/pi/heatline-pi-fastapi/.env
ExecStart=/home/pi/heatline-pi-fastapi/.venv/bin/python run.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
